<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="awknz.ltd@gmail.com">
        <network host="smtp.gmail.com"
         port="587"
         userName="awknz.ltd@gmail.com"
         password="awknzdtl"
         enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>